/* Noto Serif Devanagari — @nepalibhasha/fonts */

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-Black.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-Bold.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-ExtraBold.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-ExtraLight.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-Light.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-Medium.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-Regular.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-SemiBold.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../woff2/noto-serif-devanagari/NotoSerifDevanagari-Thin.woff2') format('woff2');
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF, U+0000-00FF, U+2000-206F;
}
